a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #f3a01e;
}
body {
  font-family: 'メイリオ', 'Meiryo', '小塚ゴシック Pro L', KozGoPro-Light, sans-serif;
  margin:0;
  width: 100%;
  height:100%;
}

.hana{
  position:absolute;
  height:0;
  width:0;
  border: 10px solid pink;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.hana::after{
  content:"";
  display:block;
  position:absolute;
  top:-7px;
  left:-7px;
  height:0;
  width:0;
  border: 10px solid pink;
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}
</style>

<style media="screen">
.caption{
margin-left: 7%;
}
.rejob-button{
margin: 0 3%;
}
li{
float: left;
width:30%;
}
.thumbnail {
margin-left: 15%;
display:inline-block;
}
.modal{display:none;}
.modalBody{position: fixed; z-index:1000; background: #FFF; width:690px; left:50%; top:10%;}
.modalBK{position: fixed; z-index:999; height:100%; width:100%;background:#000; opacity: 0.9;filter: alpha(opacity=90);-moz-opacity:0.90;}
